*_files/
template-computo-python.html
logo_text_white.pdf
template-computo-python.pdf
template-computo-python.ipynb
template-computo-python.tex
_extensions/
/.quarto/
/.joblib
/_extensions/

# Latex compilation files:
*.aux
*.log
*.toc
